/* 
cores
hsl(hue(degree in color wheel), saturation(%), lightness(%))  
hsla(0-360, 0-100%, 0-100%, 0-1)  
*/

/* Always Design for Mobile First */
/* @media */
/*
/* Extra small devices (phones, 600px and down)
@media only screen and (max-width: 600px) {...}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {...}

/* Medium devices (landscape tablets, 768px and up)
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up)
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up)
@media only screen and (min-width: 1200px) {...} 
*/

/* nunca colocar espaço entre numero e unidade */


/*geral*/
* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box; /* allows us to include the padding and border in the box's total width (and height), making sure that the padding stays inside of the box and that it does not break */
    font-family: 'Courier New';
}
body {
    color: blue;    
}
iframe {
    width: 100%;
    height: 100%;
}
/*depois do float*/
.clearfix::after { 
  content: "";
  clear: both;
  display: table;
}


/*links*/
a.txt, a.txt:link {
    color: red; 
    text-decoration: none;
}
a.txt:hover {
    border-bottom: solid 0.1em magenta;
}


/*textos*/
h1 {font-size: 1.9em;}
h2 {font-size: 1.3em;}
p {font-size: 0.9em;}
.textinho {
    font-size: 12px;
    padding-top: 3px;
}


/*lista*/
ul {list-style-type: none;}
/*li {
    font-size: 0.9em;
    padding: 0 0 5px 5px;
}
*/


/*imagens*/
img {
    display: block;
    width: 100%;
}

.lista, .lista:link {
    border: solid 9px blue;
}
.print {
    border: solid 13px blue;
}
.lista:hover, .print:hover {
    border-color: magenta magenta red red;
}
.privado, .privado:link {
    border-color: red;
}
.privado:hover {
    border-color: magenta;
}


/*form*/
form {
    padding: 50px;
    background-color: blue;
    color: white;
    font-size: 14px;
}
form div {
    margin-top: 19px;
}
input, textarea {
    width: 100%;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    border: none;
    padding: 5px 10px 5px;
    background-color: white;
    color: blue;
    font-size: 15px;
}
input:focus, textarea:focus {
    border-color: magenta;
}
label {
    width: 100%;
    padding-left: 10px;
    margin-top: 13px;
    font-weight: bold;
}
input[type=checkbox] {
    display: inline-block;
    width: auto;
    padding-right: 9px;
}
button {
    margin-top: -5px;
}
/*input[type=button], input[type=submit], input[type=reset], */
/*button {
  background-color: blue;
  border: solid 2px white;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  margin-top: -5px;
  cursor: pointer;
  width: 100%;
}
button:hover {
    border-color: magenta;
    background-color: red;
    color: blue;
}
*/
legend, .helptext {
    font-size: 13px;
    padding-left: 10px;
    margin-top: 0;
}
.form_tags{
    margin-bottom: 19px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
.form_tags div {
    padding-right: 19px;
    margin-top: -10px;
}
form.add {
    padding: 38px 0px 19px;
    background-color: blue;
    color: white;
    border: solid 9px blue;
}


/*botoes*/
.bt0, .bt1, .bt2 {
    display: inline-block;
    border-style: solid;
    border-width: 2px;
    font-size: 0.9em;
    padding: 4px 9px;
    width: auto;
}
.bt0 {
    border-color: transparent;
    background-color: white;
    color: blue;
}
.bt1 {
    border-color: white;
    background-color: blue;
    color: white;
}
.bt2 {
    border-color: blue;
    background-color: white;
    color: blue;
}
.bt1:hover, .bt2:hover {
/*    border-bottom-color: magenta;*/
    border-color: magenta;
    background-color: red;
    color: blue;
}
/*botao form*/
.btf {
    width: 100%;
    cursor: pointer;
}


/*colunas*/
.colunas {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 19vw 19vw auto;
}
.col1, .col2, .col3 {
    overflow-x: hidden;
    overflow-y: scroll;
}
.col1 {
}
.col2 {
}
.col3 {
}


/*geral*/
.geral {
    width: 19vw;
    background-color: blue;
    color: white;
    padding: 38px 19px;
}
.geral-user {
    margin-top: 29px;
}
.geral-add {
    margin-top: 19px;
}

/*perfil*/
.perfil {
    border: solid 2px blue;
    padding: 19px;
}

/*menu*/
.menu {
    display: flex;
    width: 100%;
}
.btm {
    width: 100%;
    text-align: center;
    font-size: 1em;
}

/*tags*/
.tags {
    width: 100%;
    padding: 19px;
    text-align: right;
}
.tags h2 {
    padding-bottom: 25px;
}


/*lista de imagens*/
.edit {
    position: absolute; 
    top: 0; 
    left: 0; 
    display: flex; 
    flex-direction: column; 
}


/*info*/
.edit-ps {
    position: absolute; 
    top:0; 
    right: 0; 
    width: 40%;
    display: flex; 
    justify-content: flex-end;
}
.info {
    padding: 31px 38px 100px;
    position: relative;
}
.info-tag {
    width: 40%;
    float: right;
    padding-top: 3px;
}
.info-txt {
    width: 60%;
    float: right;
    padding-top: 19px;
}
.info h2{
    text-align: right;
}




