{% load static %}

<!DOCTYPE html>
<html>

<!-- head -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0">
    <title>4_/links</title>
    <link rel="stylesheet" href="{% static 'links/style.css' %}">
</head>

<!-- body -->
<body class="colunas">
    <div class="col1">
        <!-- info geral + sistema -->
        {% include 'links/c1-geral.html' %}
        <!-- bloco col1 -->
        {% block col1 %}
        {% endblock %}
    </div>

    <div class="col2">
        <!-- bloco col2 -->
        {% block col2 %}
        {% endblock %}
    </div>

    <div class="col3">
        <!-- bloco col3 -->
        {% block col3 %}
        {% endblock %}    
    </div>
</body>

</html>
