{% extends 'links/base.html' %}

{% block col1 %}
    <!-- perfil -->
    {% if perfil %}
        {% include 'links/c1-perfil.html' %}
    {% endif %}
    <!-- menu -->
    {% include 'links/c1-menu.html' %}
    <!-- listas -->
    {% if tag_list %}
        {% include 'links/c1-tags.html' %}
    {% elif u_list %}
        {% include 'links/c1-pessoas.html' %}
    {% endif %}
{% endblock %}

{% block col2 %}
    <!-- lista com todos os prints -->
    {% include 'links/c2-prints.html' %}
{% endblock %}

{% block col3 %}
    <!-- detalhes do link -->
    {% if pk %}
        {% if perfil %}
            {% url 'links:ps-info' nome=perfil.username pk=pk as link %}
        {% else %}
            {% url 'links:ps-info' pk=pk as link %}
        {% endif %}
        <iframe src="{{ link }}" name='col3'></iframe>
    {% endif %}
{% endblock %}    

