{% extends 'links/base.html' %}
{% load my_tags %}

{% block col1 %}
<!-- tags -->
<div class="tags" style="grid-row: span 2;">
    <h1>tags</h1>
    <h2>[links={{ ps_list.count }}]<br/><br/></h2>
    <!-- tags selecionadas -->
    {% if tag %}<h2>
        {% for t in tag %}
            {{ t }} 
            {% if tag|length > 1 %}
                <a href="{% url 'links:index-tag' tag=t|linktagsremove:tag %}">
            {% else %}
                <a href="{% url 'links:index' %}">
            {% endif %}
            X</a><br/>
        {% endfor %}
    {% endif %}<br/></h2>
    <!-- lista tags -->
    <ul>
    {% for t in tag_list %}
        <li>
        <a href="{% url 'links:index-tag' tag=t|linktagsadd:tag %}">{{ t }}</a>[{{ t.ps_set.count }}]
        </li>
    {% endfor %}        
    </ul>
</div>
{% endblock %}



{% block col2 %}
<!-- lista com todos os prints -->
{% for l in ps_list %}
    {% if tag %}
        <a href="{% url 'links:index-tag-link' pk=l.pk tag=tag|linktags %}">
    {% else %}
        <a href="{% url 'links:index-link' pk=l.pk %}">
    {% endif %}
    <img class="publico" src="{{ l.imagem.url }}" alt="{{ l.titulo }}">
    </a>
{% endfor %}
{% endblock %}



{% block col3 %}

{% if ps %}

{% if ps.ativo %}
    {% set ps.link as link %}
{% elif ps.link2 %}
    {% set ps.link2 as link %}
{% endif %}

    <!-- imagem -->
    <a href="{{ link }}" target="_blank">
    <img src="{{ ps.imagem.url }}" alt="{{ ps.titulo }}" class="print publico">
    </a>

    <div class="info">
        <!-- link/titulo -->
        <h1>
        {% if link %}
            <a href="{{ link }}" target="_blank">{{ ps.titulo }}</a>
        {% else %}
            {{ ps.titulo }}
        {% endif %}

        {% if ps.link2 %}
            <span style="font-size:10px;"> >>> internet archive<br></span>
        {% endif %}

        </h1>
        <small>
        {% if not ps.ativo %}
            <b>link original:</b> {{ ps.link }}<br>
        {% endif %}
        </small>
        <!-- tags -->
        <h2 style="text-align: right;padding-left: 40%;">/ 
        {% for t in ps.tags.all %}
            <a href="{% url 'links:index-tag' tag=t %}">{{ t }}</a> / 
        {% endfor %}</h2>
        <!-- texto -->
        <p style="padding-right: 20%"><br>{{ ps.obs }}</p>
    </div>
{% endif %}
{% endblock %}    

